<!--
<div class="topcoat-list__container">
		<ul class="topcoat-list">
		</ul>
</div>-->

<script type="text/template" id="index" class="view">

<div id="map"></div>

<h3 class="topcoat-list__header">Opportunities</h3>
<div class="topcoat-list__container" id="opp_index_container">
		<ul class="topcoat-list">
		</ul>
</div>

</script>


<script type="text/template" id="map_popup_template">
  <div>

  </div>

</script>

<script>
  $(function(){
    var view = new VolunteeringController.index();
  });
</script>
