<!--
<div class="topcoat-list__container">
		<ul class="topcoat-list">
		</ul>
</div>-->

<script type="text/template" id="index" class="view">

<div id="map"></div>

<div id="wrapper" style="background:#e1e4e3;color:#d16359;font-family:'lucida grande'">

	<div dd="app-title">
		<div class="row">
			<div class="small-12 columns" style="text-align:center;margin-top:16px;font-size:13px; font-family:'lucida grande';'">
				Últimas oportunidades
			</div>
		</div>
	</div>
	<div id="list-opportunities" style="margin-top:16px;text-align:center;">
		
	</div>
</div>
</script>



<script type="text/template" id="map_popup_template">
  <div>

  </div>

</script>

<script>
  $(function(){
    var view = new VolunteeringController.index();
  });
</script>
