<script type="text/template" id="show" class="view">


<div class="content-padded">
  <h4> Name </h4> 
  <p><%= model.get('volunteering_opportunity')['name'] %> </p>

  <h4> Volunteers Needed </h4> 
  <p><%= model.get('volunteering_opportunity')['volunteersNeeded'] %> </p>
  
  <h4> Volunteers Registered </h4> 
  <p><%= model.get('volunteering_opportunity')['volunteersRegistered'] %> </p>
  
  <h4> Start </h4> 
  <p><%= model.get('volunteering_opportunity')['startDate'] %> </p>
  
  <h4> End </h4> 
  <p><%= model.get('volunteering_opportunity')['endDate'] %> </p>

</div>

</script>

<script>
  $(function(){
    var view = new VolunteeringController.show();
  });
</script>
