<script type="text/template" id="index" class="view">

<div class="content-padded" style="font-family:'lucida grande';">
<div class="row" font-family:'lucida grande';>
	<div class="small-1 columns" style="background:#da6658;">
	</div>

	<div class="small-11 columns" style="color:#da6658; font-family:'lucida grande';font-size:10px;">
		<strong>Dados do utilizador</strong>
	</div>
</div>
<div class="row" style="margin-top:20px;font-family:'lucida grande';">
	<div class="small-2 columns">
		<img src="/img/profile_.jpg"></img>
	</div>
	<div class="small-5 columns" style="font-family:'lucida grande';font-size:12px;padding:5px;">
		André Gonçalves<br>-<br>Portugal<br>-<br>andre@goncalves.me<br>-<br>+351 910 001 337 
	</div>
	<div class="small-5 columns">
		<div class="row" style="background:#da6658; color:white;">
			<div class="small-12 columns" style="padding:10px;">
				12h
			</div>
		</div>
		<div class="row" style="margin-top:5px;">
			<div class="small-12 columns" style="background:#dd9e93; color:white; padding:10px;">
				300
			</div>
		</div>
	</div>
</div>

<div class="row" style="margin-top:20px; font-family:'lucida grande';" >
	<div class="small-1 columns" style="background:#da6658;">
	</div>

	<div class="small-11 columns" style="color:#da6658;font-size:12px">
		<strong>Badges</strong>
	</div>
</div>

<div class="row" style="margin-top:10px;text-align:center;">
		<div class='small-3 columns bb-popuplink' style='line-height:10px;' data-id='1'><img src='/img/badges/badges-21.png' data-id='1'></img><div style='margin-top:10px;' data-id='1'><span style='font-size:6px;' data-id='1'>Primeira doação</span></div>
		</div>
		<div class='small-3 columns bb-popuplink' style='line-height:10px;' data-id='1'><img src='/img/badges/badges-20.png' data-id='1'></img><div style='margin-top:10px;' data-id='1'><span style='font-size:6px;' data-id='1'>10+ horas</span></div>
		</div>
		<div class='small-3 columns bb-popuplink' style='line-height:10px;' data-id='1'><img src='/img/badges/badges-21.png' data-id='1'></img><div style='margin-top:10px;' data-id='1'><span style='font-size:6px;' data-id='1'>Ajudar crianças</span></div>
		</div>
		<div class='small-3 columns bb-popuplink' style='line-height:10px;' data-id='1'><img src='/img/badges/badges-22.png' data-id='1'></img><div style='margin-top:10px;' data-id='1'><span style='font-size:6px;' data-id='1'>Ajudar idosos</span></div>
		</div>
</div>

<div class="row" style="margin-top:20px;">
	<div class="small-1 columns" style="background:#da6658;">
	</div>

	<div class="small-11 columns" style="color:#da6658;font-size:12px">
	<strong>Última actividade</strong>
	</div>
</div>

<div class="row" style="margin-top:10px;">
	<div id="list-activities" style="text-align:center;">
	<div class="row">
		<div class='small-3 columns bb-popuplink' style='line-height:10px;' data-id='1'><img src='/img/Icon_CommunityPortal.png' data-id='1'></img><div style='margin-top:10px;' data-id='1'><span style='font-size:8px;' data-id='1'>Angariar dinheiro</span><br>-<br><span style='font-size:8px;' data-id='1'>5€</span></div></div>
		<div class='small-3 columns bb-popuplink' style='line-height:10px;' data-id='1'><img src='/img/Icon_CommunityPortal.png' data-id='1'></img><div style='margin-top:10px;' data-id='1'><span style='font-size:8px;' data-id='1'>Ajudar a Abraço</span><br>-<br><span style='font-size:8px;' data-id='1'>10h</span></div></div>
		<div class='small-3 columns bb-popuplink' style='line-height:10px;' data-id='1'><img src='/img/Icon_CommunityPortal.png' data-id='1'></img><div style='margin-top:10px;' data-id='1'><span style='font-size:8px;' data-id='1'>Contribuir para o lar de idosos</span><br>-<br><span style='font-size:8px;' data-id='1'>12€</span></div></div>
		<div class='small-3 columns bb-popuplink' style='line-height:10px;' data-id='1'><img src='/img/Icon_CommunityPortal.png' data-id='1'></img><div style='margin-top:10px;' data-id='1'><span style='font-size:8px;' data-id='1'>Pintar as paredes do infantário</span><br>-<br><span style='font-size:8px;' data-id='1'>2h</span></div></div>
	</div>
	</div>
</div>
</div>
</script>

<script>
  $(function(){
    var view = new UserController.index();
  });
</script>
